
.bill {
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    min-height: calc(90vh - 130px);

}

.bill_heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.bill_heading ul,
.bill_total-price ul,
.order_items ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: 0;
    padding: 0;
    margin-top: 0;
}

.space {
    flex: 1;
}

.item-description {
    /* max-width: 150px; */
}


hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#b1b1b1;
    height: 1px;
    margin-top: 0;
}

.bill_content {
    display: flex;
    flex-direction: column;

}

.bill_buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.bill_buttons button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #eb7347;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 11pt;
}

#wholeBillBtn {
    /* display: none; */
}

#ownBillBtn {
    display: block;
}

.checkbox {
    /* display: none; */
    margin-right: -20px;
}

.item-quantity {
    margin-left: 10px;
}


.item-price {
}


.item-description {
    margin-top: 5px;
}